<div class="container">
  <div class="left-container">
  <h1>Suggested Influencers</h1>
  </div>


  <div class="right-container">
    <h1>Starred Influencers</h1>
    <% @influencers.each do |influencer| %>
      <div class="card">
        <div class="gradient">
          <img class="avatar" src="<%=influencer.instagram_img%>">
        </div>
        <div class="info">
          <div class="left">
            <h3><%= influencer.full_name %></h3>
            <p><i class="fab fa-instagram"></i> <%= influencer.instagram_username %></p>
          </div>
          <div class="right">
            <div class="followers">
              <h3><%= influencer.followers %></h3>
              <p>Followers</p>
            </div>
            <div class="engagement">
              <h3><%= influencer.engagement %>%</h3>
              <p>Engagement</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
